/* Global ========================================================== */
:root {
  --gray: #e1dfdf;
  --yellow: #f3af00;
  --dark-gray: #171716;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Links & Titles ========================================================== */
a {
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;

  text-transform: uppercase;
  color: var(--gray);
}

/* Header ========================================================== */
header {
  width: 100vw;
  height: 100vh;

  background: url(../img/fundo-header-blur.jpg) no-repeat center top;
  background-size: cover;
}

/* Menu ========================================================== */
header .general-box {
  width: 100%;
  background-color: #000;
  position: fixed;
  /* top: 0; */
  z-index: 999;
}

header .general-box .menu-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 10vh;
  margin: auto;
}

#logo h4 {
  color: var(--gray);

  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li a {
  color: var(--gray);

  margin: 0 1.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-links .social-networks {
  margin: 0 0 0 1.5rem;
}

.nav-links .social-networks a {
  color: var(--gray);

  font-size: 1.2rem;
  margin: 0 0.7rem;
}

.nav-links ul li a:hover,
.nav-links .social-networks a:hover {
  color: var(--yellow);
  transition: 0.3s;
}

.nav-links ul li a.active {
  color: var(--yellow);
}

/* Introduction ========================================================== */
header .introduction {
  width: 80%;
  margin: 0px auto;
  display: flex;
}

header .introduction h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 40vh;

  color: var(--yellow);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .introduction h3 {
  font-weight: 600;
  font-size: 2rem;

  color: var(--gray);

  margin-top: 1.3rem;
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Animation scroll */

.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin: -10px;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
  transform: rotate(45deg) translate(-20px, -20px);
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* Section ABOUT ========================================================== */
#about {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background-color: var(--dark-gray);
}

.content-box {
  width: 80%;
  margin: auto;
}

#myInformations {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#myInformations img {
  width: 20vw;
  border-radius: 240px;
  box-shadow: 3px 3px 15px #000;
}

#description {
  width: 50vw;
}

#description h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;

  color: var(--yellow);
}

#description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 1rem;

  color: #b5b1b1;
}

/* Section SKILLS ========================================================== */
#skills {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background: var(--dark-gray);
  opacity: 95%;
}

#skills .logo-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 3rem;
}

/* #skills .logo-box div {
  border: 1px solid yellow;
} */

#skills img {
  height: 25vh;
}

#skills h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
  text-align: center;
  margin-top: 0.8rem;
}

/* Section PROJECTS ========================================================== */
#projects {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background-color: var(--dark-gray);
}

.projectCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCards .card {
  width: 425px;
  box-shadow: 3px 3px 15px #000;
  margin: 1.5rem;
}

.projectCards .card img {
  width: 100%;
}

/* Section CONTACT ========================================================== */
#contact {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background: var(--dark-gray);
  opacity: 95%;
}

#contact .contact-informations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contact .contact-informations div {
  margin: 1.5rem;
  font-size: 6rem;
  text-align: center;
  color: var(--yellow);
}

#contact .contact-informations div h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

#contact .contact-informations div h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
}

/* Footer ========================================================== */
footer {
  padding: 2rem 0;
  background: #000;
}

footer .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .content-box h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--gray);
}

footer .content-box div {
  margin: 1.8rem 0;
}

footer .content-box div a {
  font-size: 1.2rem;
  color: #fff;
  margin: 1rem;
}

footer .content-box p {
  font-size: 0.8rem;
  color: var(--gray);
}

/* Responsive ========================================================== */
@media (max-width: 1199px) {
  header .general-box .menu-box,
  .content-box {
    width: 90%;
  }
}
