/* Global ========================================================== */
:root {
  --gray: #e1dfdf;
  --yellow: #f3af00;
  --dark-gray: #171716;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.content-box {
  width: 80%;
  margin: auto;
}

/* Links & Titles ========================================================== */
a {
  text-decoration: none;
}

b {
  font-weight: bold;
}

i {
  font-style: oblique;
}

.title {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  margin-bottom: 4rem;

  text-transform: uppercase;
  color: var(--gray);
}

.title span {
  color: var(--yellow);
}

/* Header ========================================================== */
header {
  width: 100vw;
  height: 100vh;

  background: url(../img/background-header-min.jpg) no-repeat center top;
  background-size: cover;
}

/* Menu ========================================================== */
header .general-box {
  width: 100%;
  position: fixed;

  z-index: 999;
  transition: 0.5s;
}

header .general-box.black {
  background-color: #000;
}

header .general-box .menu-box {
  width: 80%;
  height: 10vh;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo h4 {
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 0.2rem;

  color: var(--gray);
  transition: 0.5s;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  display: flex;
}

.nav-links ul li a {
  font-size: 0.9em;
  font-weight: 500;
  margin: 0 1.5rem;

  color: var(--gray);
  transition: 0.5s;
}

.nav-links .social-networks {
  margin: 0 0 0 1.5rem;
}

.nav-links .social-networks a {
  font-size: 1.2em;
  margin: 0 0.7rem;

  color: var(--gray);
  transition: 0.5s;
}

.nav-links a:hover {
  color: var(--yellow);
  transition: 0.3s;
}

/* Introduction ========================================================== */
header .introduction {
  width: 80%;
  margin: auto;
  display: flex;
}

header .introduction h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 40vh;

  color: var(--yellow);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .introduction h3 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 1.3rem;

  color: var(--gray);
}

header .introduction h3::after {
  content: "|";
  margin-left: 0.2em;
  opacity: 1;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Animation scroll */
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
  animation: animate 2s infinite;
  margin: -10px;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
  transform: rotate(45deg) translate(-20px, -20px);
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(-10px, -10px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(10px, 10px);
  }
}

/* Section ABOUT ========================================================== */
#about {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background-color: var(--dark-gray);
}

#myInformations {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#myInformations img {
  width: 20vw;
  border-radius: 200px;
  box-shadow: 3px 3px 15px #000;
  transition: 0.3s ease-in-out;
}

#myInformations img:hover {
  transform: scale(1.01);
}

#description {
  width: 50vw;
  padding: 2em;
  box-sizing: border-box;
  border: 1px solid var(--yellow);
  box-shadow: 20px -20px 0px var(--yellow);
}

#description h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1rem;

  color: var(--yellow);
}

#description p {
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 1rem;

  color: #b5b1b1;
}

/* Section SKILLS ========================================================== */
#skills {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background: var(--dark-gray);
  opacity: 95%;
}

#skills .logo-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 3rem;
}

#skills img {
  height: 15vh;
  transition: 0.3s ease-in-out;
}

#skills img:hover {
  transform: scale(1.1);
}

#skills h5 {
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  margin-top: 0.8rem;

  color: var(--gray);
}

/* Section PROJECTS ========================================================== */
#projects {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background-color: var(--dark-gray);
}

.projectCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectCards .card {
  width: 425px;
  margin: 1.5rem;
  position: relative;

  box-shadow: 3px 3px 15px #000;
}

.projectCards .card img {
  width: 100%;
  transition: 0.5s ease;
}

.projectCards .card .middle {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0;
  transition: 0.5s ease;
}

.projectCards .card .middle h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 1em;

  color: #fff;
}

.projectCards .card .middle a {
  font-size: 1.8em;
  margin: 0 0.2em;

  color: #fff;
}

.projectCards .card .fa-tools {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;

  color: #fff;
  opacity: 0;
  transition: 0.5s ease;
}

.projectCards .card:hover img {
  opacity: 0.3;
}

.projectCards .card:hover .middle,
.projectCards .card:hover .fa-tools {
  opacity: 1;
}

/* Section CONTACT ========================================================== */
#contact {
  width: 100vw;
  height: auto;
  padding: 10vh 0;

  background: var(--dark-gray);
  opacity: 95%;
}

#contact .contact-informations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#contact .contact-informations div {
  font-size: 4em;
  text-align: center;
  margin: 1.5rem 3rem;

  color: var(--yellow);
}

#contact .contact-informations div h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0;
}

#contact .contact-informations div h6,
#contact .contact-informations div a {
  font-size: 1rem;
  font-weight: 400;

  color: var(--gray);
}

#contact .contact-informations div a {
  text-decoration: underline;
}

#contact .contact-informations i {
  transition: 0.3s ease-in-out;
}

#contact .contact-informations i:hover {
  transform: translateY(-10px);
}

/* Footer ========================================================== */
footer {
  padding: 2rem 0;
  background-color: #000;
}

footer .content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .content-box h5 {
  font-size: 1.2em;
  font-weight: 500;

  color: var(--gray);
}

footer .content-box div {
  margin: 1.8rem 0;
}

footer .content-box div a {
  font-size: 1.2rem;
  margin: 1rem;

  color: #fff;
}

footer .content-box div a i {
  transition: 0.5s;
}

footer .content-box div a .fa-instagram:hover {
  color: #c13584;
}

footer .content-box div a .fa-github:hover {
  color: gray;
}

footer .content-box div a .fa-linkedin-in:hover {
  color: #0e76a8;
}

footer .content-box p {
  font-size: 0.8em;
  color: var(--gray);
}

/* Scroll up */
.scrollUp {
  width: 35px;
  height: 35px;
  border-radius: 25px;
  cursor: pointer;

  font-size: 1.5em;
  color: var(--yellow);

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--yellow);

  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  transition: 0.5s;
}

.scrollUp:hover {
  transform: scale(1.1);
}

/* Responsive ========================================================== */
@media (max-width: 1199px) {
  header .general-box .menu-box,
  .content-box {
    width: 90%;
  }

  #myInformations img {
    width: 25vw;
  }

  #description {
    box-shadow: 10px -10px 0px var(--yellow);
  }

  .scrollUp {
    right: 1em;
  }
}
